<!DOCTYPE html>
<html>
  <head> 

  <head>

  <body>
      <h2><ion-view view-title="LOG - IN"><h2>
       <ion-content class="padding">
      <div class="list">
       <label class="item item-input">
         <span class="input-label">Username: </span>
         <input type="text">
       </label>
       <label class="item item-input">
         <span class="input-label">Password: </span>
         <input type="password">
       </label>
      </div>
      <div>
      <button ng-click="BtnClickUp()" class="button button-large button-positive">
          Sign - Up
      </button>
      <button ng-click="btnclkIn()" class="button button-large button-positive">
            Sign - In
        </button>
       </label>
      </div>
      </ion-content>
      </ion-view>
  </body>
</html>