<h2><ion-view view-title="Update - Form"><h2>
  <ion-content class="padding">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Contact#">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Address">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="School">
  </label>
  <label>
    <button class="button button-block button-positive">
      Update
    </button>
  </label>
  <label>
    <button class="button button-block button-positive">
      Cancel
    </button>
  </label>
</ion-content>
</ion-view>
